.main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.index {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarkButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  cursor: pointer;
}

.bookmarkButtontext {
  margin-left: 0.2rem;
}

.speakButton {
  cursor: pointer;
  margin-bottom: 2rem;
}

.lowerWrapper {
  min-height: 25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.expressionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttonWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.exWrapper {
  margin-top: 3rem;
}

.exTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.exLinkWrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border: 1px var(--white) solid;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  width: max-content;
}

.exLinkIcon {
  display: flex;
  align-items: center;
}

.exLinkText {
  margin-left: 0.5rem;
  font-weight: 600;
}

/* Media queries */
@media (max-width: 600px) {
  .main {
    margin-top: 1rem;
  }

  .upperWrapper {
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }

  .index {
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bookmarkButtonWrapper {
    padding-right: 0;
    margin-bottom: 3rem;
    order: -1;
    display: flex;
    justify-content: center;
  }

  .bookmarkIcon {
    font-size: 1.5rem !important;
  }

  .bookmarkButtontext {
    margin-left: 0.2rem;
  }

  .speakButton {
    margin-bottom: 0;
  }

  .lowerWrapper {
    flex-direction: column;
    align-items: center;
  }

  .expressionWrapper {
    padding: 0.5rem;
  }

  .exWrapper {
    width: 100%;
    border-top: 1px solid var(--white);
    padding-top: 2rem;
  }

  .exLinkWrapper {
    justify-content: center;
  }

  .exTitle,
  .exLinkText {
    font-size: 0.9rem;
  }
}
