.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: var(--background-color);
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.buttonGroup {
  margin-top: 1.7rem;
}

.cancelButton {
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--background-color-4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmButton {
  margin-left: 1.5rem;
  padding: 10px 20px;
  background-color: var(--white);
  color: var(--background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
