.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 2rem 2rem;
  text-align: center;
}

.episodeTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--gold);
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.imageWrapper {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  aspect-ratio: 4 / 3;
}

.image {
  border-radius: 10px;
}

.episodeDescription {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
  max-width: 400px;
}

.right {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.element {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
  text-align: left;
}

.element:hover {
  color: var(--gold);
}

.element::before {
  content: "➜ ";
}

/* Media queries*/

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding: 0;
  }

  .right {
    width: 100%;
    padding: 3rem 0 3rem 0;
    margin-top: 3rem;
    border-top: 1px solid var(--gold);
  }
}

@media (max-width: 480px) {
  .main {
    padding: 5rem 2rem 2rem 2rem;
  }
}
