.main {
  margin-left: 4rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.episodeTitle {
  margin-bottom: 4rem;
}

.element {
  margin-bottom: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
}
