:root {
  /* colors */
  --background-color: #fffbda;
  --background-color-2: #fff5cf;
  --background-color-3: #ffbf78;
  --background-color-4: #ffeea9;
  --text-color: #000000;
  --red: #e42327;
  --point-color: #ff7d29;
  --green: #008000;
  --gray: #dddddd;
  --gray-2: #aaaaaa;
  --white: #fff;
  --font-color: #000;
}

[data-theme="dark"] {
  /* colors */
  --background-color: #0b0808;
  --background-color-2: #1c1c1c;
  --background-color-3: #333333;
  --background-color-4: #444444;
  --font-color: #fff;
  --point-color: #ffd700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--font-color);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loadingMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  cursor: pointer;
}

.disabled {
  opacity: 40%;
  z-index: -1;
}

.en {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

.ko {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 1.5;
}

.prevNextButton {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  margin-top: 2rem;

  &:hover {
    color: var(--point-color);
  }
}

.prevNextButtonSmall {
  display: none;
}

@media (max-width: 600px) {
  .en {
    font-size: 1.5rem;
  }

  .ko {
    font-size: 1.2rem;
  }

  .prevNextButton {
    display: none;
  }

  .prevNextButtonSmall {
    display: flex;
    align-items: center;

    &:hover {
      color: var(--point-color);
    }
  }
}
