.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.11), black),
    url("/image/suits-poster.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.upperWrapper {
  display: flex;
  justify-content: end;
  padding: 1.5rem;
}

.loginButton {
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startButton {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: white;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.loadingMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
