.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.11), black),
    url("/image/suits-poster.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 1rem;
}

.upperWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}

.loginButton {
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8rem;
}

.englishWith {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 5rem;
}

.suits {
  font-size: 5rem;
  font-weight: bold;
  color: #e60000;
}

.startButton {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.startButton:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Media queries*/

@media (max-width: 768px) {
  .body {
    padding: 4rem;
  }

  .englishWith {
    font-size: 2.5rem;
    margin-right: 0;
    text-align: center;
  }

  .suits {
    font-size: 4rem;
    text-align: center;
  }

  .startButton {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .upperWrapper {
    padding: 1rem;
  }

  .loginButton {
    font-size: 1rem;
  }

  .body {
    padding: 2rem;
    align-items: center;
    justify-content: flex-end;
  }

  .englishWith {
    font-size: 2rem;
    text-align: center;
  }

  .suits {
    font-size: 3rem;
    text-align: center;
  }

  .startButton {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
