.main {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
}

.leftSide {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menuWrapper {
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}

.titleWrapper {
  height: 100%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSide {
  width: 60%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.imageContainer {
  position: absolute;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imageContainerFirst {
  right: 15rem;
}

.imageContainerSecond {
  right: -7rem;
  top: 7rem;
}

.card {
  width: 20rem;
  height: auto;
  margin-bottom: 7rem;
  border-radius: 1rem;
}

.startButton {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.startButton:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/* Media queries*/
@media (max-width: 1024px) {
  .main {
    background-position: top;
  }

  .main::before {
    background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.05) 0%,
      rgba(0, 0, 0, 0.75) 70%,
      black 100%
    );
  }
}

@media (max-width: 820px) {
  .main {
    background-size: 60rem;
  }

  .loginButton {
    font-size: 1.2rem;
  }

  .body {
    padding: 5rem;
  }

  .startButton {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .main {
    background-size: 30rem;
  }

  .upperWrapper {
    padding: 1rem;
  }

  .loginButton {
    font-size: 1rem;
  }

  .body {
    padding: 3rem;
    align-items: center;
    justify-content: flex-end;
  }

  .startButton {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
