.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  z-index: 100;
}

.backButton {
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.loginButtonWrapper {
  display: flex;
  align-items: center;
}

.loginButton {
  margin-left: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

/* Media queries */
@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .backButtonIcon {
    font-size: 1.5rem !important;
  }
}
