.container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.episode {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
