.main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.backButton {
  padding: 1rem;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 2rem;
}

.episode {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
