.main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloadButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.downloadText {
  font-weight: 600;
  margin-right: 0.5rem;
}
