.main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloadButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: var(--font-color);
  color: var(--background-color);
  padding: 0.2rem 0.7rem;
  border-radius: 1rem;
}

.pageNumWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pageButtonWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.prevPageButton {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.nextPageButton {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.pageNum {
  margin-left: 3rem;
  margin-right: 3rem;
}

.downloadText {
  font-weight: 600;
  margin-right: 0.5rem;
}

@media (max-width: 480px) {
  .main {
    padding-top: 5rem;
  }

  .pageNumWrapper {
    font-size: 0.8rem;
  }

  .pageNum {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
