.main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperWrapper {
  min-height: 25rem;
}

.expressionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.blankWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.punctuation {
  font-size: 1.7rem;
  height: 5rem;
  display: flex;
  align-items: end;
}

.blank {
  width: 5rem;
  height: 5rem;
  border-bottom: 3px solid;
  margin-right: 1rem;
}

.en {
  font-size: 2rem;
  font-weight: bold;
}

.ko {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.wordsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.word {
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  margin: 1rem;
}

.buttonWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.prevNextButton {
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid;
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.exWrapper {
  margin-top: 3rem;
}

.exTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
