.main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperWrapper {
  min-height: 25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.expressionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.blankWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.punctuation {
  font-size: 1.7rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
}

.blank {
  width: 5rem;
  height: 5rem;
  border-bottom: 3px solid;
  margin-right: 1rem;
}

.selectedWord {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
}

.wordsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.words {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.word {
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 600;
}

.resetButton {
  margin-top: 2.5rem;
  cursor: pointer;
  background-color: green;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.exWrapper {
  margin-top: 3rem;
}

.exTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.correctPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 15px solid green;
  padding: 1.5rem;
  border-radius: 2rem;
  animation: popUp 0.5s forwards;
}

.correctText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: green;
}

.greenCircle {
  width: 9rem;
  height: 9rem;
  border: 20px solid green;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: popUp 0.5s forwards;
  display: flex;
  align-items: center;
  justify-items: center;
}

.incorrectPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: white;
  border: 15px solid red;
  border-radius: 2rem;
  animation: popUp 0.5s forwards;
}

.incorrectText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: red;
}

.xSign {
  width: 9rem;
  height: 9rem;
  border: 20px solid red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: popUp 0.5s forwards;
  display: flex;
  align-items: center;
  justify-items: center;
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Media query */
@media (max-width: 600px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }

  .upperWrapper {
    justify-content: center;
  }

  .expressionWrapper {
    align-items: center;
    text-align: center;
  }

  .index {
    font-size: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .words {
    margin-top: 3rem;
  }

  .word {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
  }

  .selectedWord {
    font-size: 1.5rem;
    height: 3rem;
    margin-right: 0.6rem;
  }

  .punctuation {
    font-size: 1.5rem;
    height: 3rem;
  }

  .blank {
    width: 3rem;
    height: 3rem;
    margin-right: 0.6rem;
  }

  .correctText,
  .incorrectText {
    font-size: 1.2rem;
  }

  .greenCircle,
  .xSign {
    width: 7rem;
    height: 7rem;
    border-width: 15px;
  }

  .correctPopup,
  .incorrectPopup {
    padding: 1rem;
  }

  .correctIcon,
  .incorrectIcon {
    font-size: 5rem !important;
  }
}
