.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.backButton {
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

.loginButtonWrapper {
  display: flex;
  align-items: center;
}

.loginButton {
  margin-left: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
