.container {
  padding: 2rem;
  min-height: 100vh;
}

.profileSection {
  margin-bottom: 5rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--point-color);
  padding-bottom: 0.5rem;
}

.email {
  color: var(--point-color);
}

.bookmarksSection {
  margin-top: 2rem;
}

.bookmarksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.expressionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color-3);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.episodeExpression {
  display: flex;
}

.episode {
  color: var(--point-color);
  margin-right: 1rem;
  min-width: 3.1rem;
}

.en {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ko {
  color: var(--gray);
}

.removeButtonWrapper {
  display: flex;
  align-items: center;
}

.removeButton {
  cursor: pointer;
  color: var(--point-color);
  transition: color 0.3s;
}

.removeButton:hover {
  color: var(--red);
}

.noBookmarks {
  color: var(--gray-2);
}
