.container {
  padding: 3rem;
}

.bookmarksWrapper {
  margin-top: 4rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bookmarksList {
}

.expressionWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.episodeExpression {
  display: flex;
}

.episode {
  margin-right: 1.5rem;
}

.en {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.removeButtonWrapper {
  display: flex;
  align-items: center;
}
